<% if user_signed_in? %>
  <% if product.product_like_user(current_user.id) %>
    <%= button_to product_product_like_path(product, like), method: :delete, class:"btn btn-link", remote: true do %>
      <%= fa_icon("bookmark") %>
      <p><%= product.likes_count %></p>
    <% end %>
  <% else %>
    <%= button_to product_product_likes_path(product), class:"btn btn-link", remote: true do %>
      <%= fa_icon("bookmark-o") %>
      <p><%= product.likes_count %></p>
    <% end %>
  <% end %>
<% else %>
    <%= fa_icon("bookmark-o") %>
    <p><%= product.likes_count %></p>
<% end %>
