<div class="container-fluid">
  <div class="row user-page">
    <div class="col-md-10 col-md-offset-1">
      <div class="row user-profile">
        <div class="col-md-2 col-sm-3 col-xs-5 user-image">
          <% if @user.image.present? %>
            <%= image_tag @user.image.image_url.thumb, class:"img-thumbnail" %>
          <% else %>
            <%= image_tag "default.png", class:"profile-image img-thumbnail" %>
          <% end %>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-7">
          <h1 class="user-nickname"><%= @user.nickname %></h1>
          <% if @user == current_user %>
            <%= link_to edit_user_path(current_user), class:"btn btn-default btn-xs" do %>
              <i class="fa fa-cog fa-fw" aria-hidden="true"></i>プロフィール編集
            <% end %>
          <% end %>
          <p class="user-introduction"><%= @user.introduction %></p>
        </div>
      </div>
      <div class="row">
       <div role="tabpanel">
        <ul class="nav nav-tabs nav-justified nav-head" role="tablist">
          <li role="presentation" class="active"><a href="#review" data-toggle="tab">レビュー(<%= @reviews.count %>作品)</a></li>
          <li role="presentation" ><a href="#product" data-toggle="tab">ブックマーク(<%= @user.product_likes.count %>作品)</a></li>
        </ul>
        <div id="userTabContent" class="container-fluid tab-content">
          <div class="tab-content row">
            <div role="tabpanel" class="tab-pane active" id="review">
             <% @reviews.each.with_index do |product| %>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <%= render partial: "common/productitem", locals: {product: product, review_rate: product.reviews.average(:rate).round(1)} %>
              </div>
             <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="product">
              <% @user.product_likes.each do |product_like| %>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <%= render partial: "common/productitem", locals: {product: product_like.product, review_rate: product_like.product.reviews.average(:rate).round(1)} %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
