<% if user_signed_in? %>
  <% if review.review_like_user(current_user.id) %>
    <%= button_to product_review_review_like_path(review.product, review, review_like), method: :delete, class:"btn btn-link", remote: true do %>
      <span class="text-danger"><%= fa_icon("heart") %></span>
      <span class="text-danger"><%= review.likes_count.to_i %></span>
    <% end %>
  <% else %>
    <%= button_to product_review_review_likes_path(review.product, review), class:"btn btn-link", remote: true do %>
    <span class="text-danger"><%= fa_icon("heart-o") %></span>
    <span class="text-danger"><%= review.likes_count.to_i %></span>
    <% end %>
  <% end %>
<% else %>
<span class="text-danger"><%= fa_icon("heart-o") %></span>
<span class="text-danger"><%= review.likes_count.to_i %></span>
<% end %>
