<div class="container-fluid">
  <div class="row product-show">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="lineup col-md-9">
          <div class="row">
            <div class="top-content-header">
              今日のラインナップ
            </div>
            <% @products.each do |product| %>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <%= render partial: "common/productitem", locals: {product: product, review_rate: product.reviews.average(:rate).round(1)} %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="top-content-header">
              明日のラインナップ
            </div>
            <% @nextproducts.each do |product| %>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <%= render partial: "common/productitem", locals: {product: product, review_rate: product.reviews.average(:rate).round(1)} %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="top-ranking col-md-3">
          <div class="row panel panel-default top-ranking-panel">
            <div class="top-content-header panel-heading">
              <i class="fa fa-users fa-fw" aria-hidden="true"></i>みんなのランキング
            </div>
            <% @ranking.each.with_index(1) do |product, i| %>
              <div class="col-md-12 col-sm-4 col-xs-6 panel-body">
                <%= render partial: "common/productitem", locals: {product: product, review_rate: product.reviews.average(:rate).round(1)} %>
                <p class="ranking-text ranking-text-<%= i %>">
                  <span><%= i %></span>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
