<div class="container-fluid">
  <div class="row product-search">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <%= link_to product_path(product) do %>
              <div class="image">
                <%= image_tag product.image.image_url %>
              </div>
              <div class="title text-center">
                <p><%= product.title %></p>
              </div>
            <% end %>
            <ul class="data list-inline text-center">
              <li class="marks text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>1000</li>
              <li class="clip text-center">
                <%= link_to new_product_review_path(product) do %>
                  <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                  <%= product.reviews.count %>
                <% end %>
              </li>
             </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
