<div class="container-fluid">
  <div class="row product-detail">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <h2 class="product-title"><%= @product.title %></h2>
          <% if user_signed_in? && current_user.published? %>
            <%= link_to "管理者", edit_product_path(@product) %>
          <% end %>
            <ul class="product-info list-inline">
              <li>放送開始：<%= @product.year %>年<%= @product.month %>月</li>
              <li>制作：<%= @product.company %></li>
            </ul>
          <div class="product-image">
            <img src="<%= @product.image_url %>" alt="" style="width: 100%;"/>
          </div>
          <div class="product-text">
            <div class="product-rating">
             <% if @product.reviews.present? %>
              <div id="star_rank"></div>
              <span class="rate-number"><%= @product.reviews.average(:rate).round(1) %></span>
              <span class="number">(<%= @product.reviews.count %>)</span>
             <% else %>
              <div id="empty"></div>
              <span class="rate-number">0</span>
              <span class="number">(0)</span>
             <% end %>
            </div>
            <ul class="product-data list-inline text-right">
              <li class="product-clip text-center">
                <%= link_to new_product_review_path(@product) do %>
                  <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i>
                    <p><%=@product.reviews.count %></p>
                <% end %>
              </li>
              <li class="product-marks text-center"><%= render partial: "product_likes/product_likes", locals: { product: @product, like: @like, likes: @likes } %></li>
            </ul>
          </div>
              <div class="product-media">
                <div class="row text-center">
                  <div class="col-xs-2 col-xs-offset-2">
                    <a href="<%= @product.site %>"><i class="fa fa-link" aria-hidden="true"></i></a><p>サイト</p>
                  </div>
                  <div class="col-xs-2">
                    <a href="<%= @product.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a><p>Twitter</p>
                  </div>
                  <div class="col-xs-2">
                    <a href="<%= @product.wikipedia %>"><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a><p>Wikipedia</p>
                  </div>
                  <div class="col-xs-2">
                    <a href="<%= @product.amazon %>"><i class="fa fa-amazon" aria-hidden="true"></i></a><p>Amazon</p>
                  </div>
                </div>
              </div>
        </div>
          <!-- PC版 -->
            <div class="col-md-7 col-sm-6 hidden-xs">
              <div class="md-sm-cast">
                <div class="product-playwrite">
                  <p>脚本</p>
                  <p><span class="cast-tab"><%= @product.playwrite %></span></p>
                </div>
                <div class="product-director">
                  <p>演出</p>
                  <p><span class="cast-tab"><%= @product.director %></span></p>
                </div>
                <div class="product-cast">
                  <p>キャスト</p>
                  <ul class="list-inline">
                    <% @product.casts.each do |cast| %>
                      <li class="cast-tab">
                        <%= link_to cast_path(cast) do %>
                          <%= cast.cast %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="md-sm-story">
                <p>あらすじ</p>
                <p><%= @product.detail %></p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

  <!-- PC版 -->
    <div class="container-fluid hidden-xs">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="review-header text-center">
                <i class="fa fa-th-list fa-fw" aria-hidden="true"></i>ストーリー構成
                <% if user_signed_in? && current_user.published? %>
                  <%= link_to "管理者", new_product_product_structure_path(@product) %>
                <% end %>
              </div>
              <div class="product-structure">
                <% @product.product_structures.each do |product_structure| %>
                <p>第<%= product_structure.story_number %>話：<%= product_structure.subtitle %></p>
                <% end %>
              </div>
            </div>
            <div class="col-md-6 col-sm-8">
              <div class="review-header text-center">
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>この作品に投稿された感想・レビュー
              </div>
              <div class="review-item">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="" alt="" class="img-responsive img-circle"/>
                  </div>
                  <div class="col-xs-10">
                   <% @reviews.each do |review| %>
                    <ul class="list-inline">
                      <%= link_to user_path(review.user) do %>
                      <li class="review-username"><%= review.user.nickname %></li>
                      <% end %>
                      <li class="review-date"><%= review.created_at.strftime('%Y年%m月%d日') %></li>
                    </ul>
                    <p class="review-rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span class="rate-number"><%= review.rate %></span>
                    </p>
                    <p class="review-title"><%= review.title %></p>
                    <p class="review-text"><%= review.review %></p>
                    <hr>
                    <ul class="list-inline text-right">
                      <li><%= link_to new_product_review_review_comment_path(@product, review) do %>
                            <i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>コメント(<%= review.review_comments.count %>)
                          <% end %>
                      </li>
                      <li class="review-marks-<%= review.id %>"><%= render partial: "review_likes/review_likes", locals: { review: review, review_like: @review_like, review_likes: @review_likes } %></li>
                    </ul>
                   <% end %>
                  <%= paginate @reviews %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 hidden-sm">
              <div class="review-header text-center">
                <i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i>今おすすめのドラマ
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="product-item">
                    <a href="#">
                      <div class="image">
                        <img src="" alt=""/>
                      </div>
                      <div class="text text-center">
                        <p></p>
                    </a>
                        <p class="rating">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <span class="rate-number">5.0</span>
                        </p>
                      </div>
                    <ul class="data list-inline text-center">
                      <li class="marks text-center"><i class="fa fa-eye fa-fw" aria-hidden="true"></i>1000</li>
                      <li class="clip text-center"><i class="fa fa-bookmark fa-fw" aria-hidden="true"></i>1200</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- スマホ版 -->
    <div class="container-fluid">
      <div class="product-nav">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified visible-xs-block" role="tablist">
          <li role="presentation" class="active"><a href="#story" aria-controls="home" role="tab" data-toggle="tab">作品詳細</a></li>
          <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">レビュー</a></li>
          <li role="presentation"><a href="#cast" aria-controls="cast" role="tab" data-toggle="tab">キャスト</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="product-nav-content tab-content visible-xs-block">
          <div role="tabpanel" class="tab-pane active" id="story">
            <div class="product-xs-story">
              <p>あらすじ</p>
              <p><%= @product.detail %></p>
            </div><hr>
            <div class="product-xs-structure">
              <p>ストーリー構成</p>
                <% if user_signed_in? && current_user.published? %>
                  <%= link_to "管理者", new_product_product_structure_path(@product) %>
                <% end %>
              <% @product.product_structures.each do |product_structure| %>
              <p>第<%= product_structure.story_number %>話：<%= product_structure.subtitle %></p>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="review">
            <div class="review-xs-header">
              <div class="review-xs-number"><i class="fa fa-users fa-fw" aria-hidden="true"></i>レビュー数(<%= @product.reviews.count %>)</div>
              <div class="text-right">
                <%= link_to new_product_review_path(@product) do %>
                  <button class="btn btn-default"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>レビューする</button>
                <% end %>
              </div>
            </div>
            <div class="review-item">
              <div class="row">
                <div class="col-xs-2">
                  <img src="" alt="" class="img-responsive img-circle"/>
                </div>
                <div class="col-xs-10">
                 <% @reviews.each do |review| %>
                  <ul class="list-inline">
                   <%= link_to user_path(review.user) do %>
                    <li class="review-username"><%= review.user.nickname %></li>
                   <% end %>
                    <li class="review-date"><%= review.created_at.strftime('%Y年%m月%d日') %></li>
                  </ul>
                  <p class="review-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="rate-number"><%= review.rate %></span>
                  </p>
                  <p class="review-title"><%= review.title %></p>
                  <p class="review-text"><%= review.review %></p>
                  <hr>
                  <ul class="list-inline text-right">
                    <li><%= link_to new_product_review_review_comment_path(@product, review) do %>
                          <i class="fa fa-comment-o fa-fw" aria-hidden="true"></i>(<%= review.review_comments.count %>)
                        <% end %>
                    </li>
                    <li class="review-marks-<%= review.id %>"><%= render partial: "review_likes/review_likes", locals: { review: review, review_like: @review_like, review_likes: @review_likes } %></li>
                  </ul>
                 <% end %>
                <%= paginate @reviews %>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="cast">
            <div class="product-scriptwriter">
              <p>脚本</p>
              <p><span class="cast-tab"><%= @product.playwrite %></span></p>
            </div>
            <div class="product-director">
              <p>演出</p>
              <p><span class="cast-tab"><%= @product.director %></span></p>
            </div>
            <div class="product-cast">
              <p>キャスト</p>
              <ul class="list-inline">
                <% @product.casts.each do |cast| %>
                  <li class="cast-tab">
                    <%= link_to cast_path(cast) do %>
                      <%= cast.cast %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      <% if @product.reviews.present? %>
        $('#star_rank').raty({
          readOnly: true,
          score: '<%= @product.reviews.average(:rate).round(1) %>',
          half     : true,
          starHalf : '<%= asset_path('star-half.png') %>',
          starOff  : '<%= asset_path('star-off.png') %>',
          starOn   : '<%= asset_path('star-on.png') %>'
        });
      <% else %>
        $('#empty').raty({
          readOnly: true,
          score: '0',
          starOff  : '<%= asset_path('star-off.png') %>'
        });
      <% end %>
  　</script>
