<div class="product-item black-link">
  <%= link_to product_path(product) do %>
    <div class="image">
      <%= image_tag product.image.image_url %>
    </div>
  <% end %>
  <div class="line">
    <%= link_to product_path(product) do %>
      <div class="title text-center">
        <%= product.title %>
      </div>
    <% end %>
    <div class="review text-center">
      <i class="fa fa-star fa-fw" aria-hidden="true"></i>
      <span class="rate-number"><%= review_rate %></span>
    </div>
  </div>
</div>
<ul class="data list-inline text-center">
  <li class="marks text-center">
    <%= link_to new_product_review_path(product) do %>
      <i class="fa fa-pencil fa-fw" aria-hidden="true"></i><%= product.reviews.count.to_i %>
    <% end %>
  </li>
  <li class="clip text-center">
    <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i><%= product.likes_count.to_i %>
  </li>
</ul>
